@keyframes color-change {
	0% {
		color: #000;
	}
	18.75% {
		color: #f00;
	}
	37.5% {
		color: #000;
	}
	56.25% {
		color: #f80;
	}
	75% {
		color: #000;
	}
	79.1667% {
		color: #ff0;
	}
	83.3333% {
		color: #000;
	}
	87.5% {
		color: #0f0;
	}
	91.6667% {
		color: #000;
	}
	95.8333% {
		color: #f0f;
	}
	100% {
		color: #000;
	}
}